<div ng-controller="leaderBoardCtrl">
    <div class="subtitle">Display all players in collection </div>
    <ol class="leaderboard" >
        <li ng-repeat = "player in players track by player._id" class="player">
            <span class="name">{{player.name}}</span>
            <span class="score">{{player.score}}</span>
        </li>
    </ol>

    <ul class="subscription-list">
        <li ng-repeat = "sub in subscriptions" class="subscription">
            <span class="subtitle"> {{sub.name}}</span>
            <span class="subscription-btn" ng-click="startHandle (sub)" ng-show = "!sub.handle"> Start Subscription </span>
            <span class="subscription-btn" ng-click="stopHandle (sub)" ng-show = "sub.handle"> Stop Subscription </span>
        </li>
    </ul>
</div>

